<div class="container">
  <h1>Welcome to the NoteTaker</h1>
  <p>The simplest way to take notes on the web</p>

<div id="add">
  <form action="/" method="post">
    <em>Title:</em><input name="title"></input>
    <br>
    <br>
    <em>Note:</em><textarea name="content"></textarea>
    <br>
    <br>
    <button>Add Your Note</button>
  </form>
</div>

